@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}


.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    padding-top: 0px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/collage.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

div.nav__logo img{
    width: 100px;
}


.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}


.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: black;
    text-decoration: none;
    position: relative;
    padding: 5px;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}

.nav__links::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #aebaf0, #5999ec, #4c66db);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
  }

  a:hover::before {
    transform: scaleX(1);
  }




/* Hero container */



.hero__container {
    max-width: 800px;
    --padding-container: 300px;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    text-align: center;



}

.hero__title {
   
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}


/* About */

.about {
    text-align: center;

}


.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.about__paragraph {
    line-height: 1.7;


}

.about__main {
    padding-top: 30px;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));



}


.about__icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;

}

.about__icon {
    width: 200px;
}

.about__title{
    padding-top: 0%;
}

/* Estrenos */


.about__main1 {
    padding-top: 10px;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);

}

.estrenos {
    text-align: center;

}


.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}


.estrenos__paragraph {
    line-height: 1.7;


}

.iframe{
    max-width: 500px;
}

.grid{
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    box-sizing: border-box;

}



.imagen{
    width: 370px;

}
.caja{

    text-align:center;
    padding: 10px;
}

/* clasicas */

.clasicas{

    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.clasica_item{
    background: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    padding-bottom: 3em;
    flex-basis: 280px;

}

.clasica_contenido{
    width: 90%;
    margin: 0 auto;
}

.clasica_picture{
    width: 90%;
    margin: 0 auto;
    padding-left: 1.2em;
    position: relative;
    bottom: 2em;


}


.clasica_img{
    width: 200px;
}

.clasica_titulo{
    margin-bottom: 1em;
}


/* form */

.form {
    background-color:#AED6F1 ;
    padding-top: 1em;

}

.tit{
   font-size: 2rem;
   text-align: center;



}
.subt{
    text-align: center;
    font-size: 25px;


}

.footer{

    display: flex;
    justify-content: space-around;
    padding: 5px;
    padding-bottom: 50px;
    flex-wrap: wrap;

}

.formulario{
    font-size: 19px;

}

.tit_par{
    border-bottom: cornflowerblue dashed;
}

input{

    outline: none;
    background: transparent;
    width: 80%;
    padding-top: 4em;
    margin-top: 1em;
    border:solid #aed6f1;
    border-bottom: 2px solid cornflowerblue;
    font-size:  16px;
}


input:focus{
    outline: none;
    border-bottom: 2px solid gray;
}

label {
    outline: none;
    position: absolute;
    padding-top: 1em;

}

textarea{
    background-color: #AED6F1;
    padding-top: 1em;
    margin-top: 1em;
    border: 2px solid cornflowerblue;
    resize: none;
}

textarea:focus{
    outline: none;
    border: 2px solid cornflowerblue;
}

.boton{
    width: 80%;
    border-radius: 1em;
    border-color: #4c66db;
    background-color: #4c66db;
    padding: 1em;
    margin-top: 1em;

}



/* redes */

.redes{
    padding-top: 60px;
    text-align: center;
}

.redes_titulo{
    color: gray;
    font-size: 30px;
}

.seguinos{
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 20px;
    font-family: 'Poppins', sans-serif;

}

.fa-brands{
    font-size: 25px;
    padding-top: 5px;


}

.elementos{


    list-style: none;
    border: 3px solid #4c66db;
    margin-bottom: 1em;
    border-radius: 3px;
}

